/* ~~~ shared.css */

/* CSS rules shared among all pages of this project */

h1, .tagline {
  text-align: center;
}

.label {
  font-weight: bold;
}

.no-list-decoration {
  list-style: none;
}
address {
  font-style: normal;
}
